
@font-face {
  font-family: 'Abelard-Medium'; 
  src: url('Abelard-Medium.otf') format('opentype');
}

@font-face {
  font-family: 'Abelard-Italic'; 
  src: url('/Users/jaynachoksi/Documents/Parsons /Year 4/Eight SEM!! /THESIS/workLookTimer/Fonts/Abelard-Italic copy.otf') format('opentype');
}

@font-face {
  font-family: 'Abelard-Light';
  src: url('Abelard-Light.otf') format('opentype');
}

* {
  font-family: 'Abelard-Light', sans-serif;
  box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Abelard-Light', sans-serif;
    background-color: #f0f0f0;
    overflow: hidden;
    position: relative;
  }


  #overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
  }
  
  h1 {
    font-size: 6rem;
    color: black;
    margin-bottom: 7rem;
    text-align: center;
  }
  
  .button-container {
    display: flex;
    gap: 2rem;
  }
  
  .button {
    padding: 0.75rem 1.5rem;
    font-size: 1.25rem;
    border: none;
    background-color: #dcdcdc;
    color: black;
    border-radius: 0.5rem;
    cursor: pointer;
    font-family: 'Abelard-Light', sans-serif;
    text-decoration: none;
  }
  
  .button:hover {
    background-color: black;
    color: white;
    /* transition: opacity 0.3s ease */
  }

  #about-link {
    position: absolute;
    top: 2rem;
    right: 1rem;
    font-size: 1.3rem;
    color: black;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none ;
  }

  #about-link:hover { 
    color: rgb(241, 240, 240)
  }
  
  canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0; 
  }
  
  .para { 
    margin: 1em 2em; 
    margin-right: 3em
  }

  h2{ 
    font-size: 4rem;
    margin:0;
    margin-left: 0.5em; 
    margin-top: 0.5em; 
    color: black;
    /* text-align: center; */
  }

#bold { 
  font-family: 'Abelard-Medium', sans-serif;
}

#italic { 
  font-family: 'Abelard-Italic', sans-serif;
}

.video-section {
  height: 33.3333vh;
}