
* {
    font-family: 'Abelard-Light', sans-serif;
    }

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
    text-align: center;
    flex-direction: column;
    font-family: 'Abelard-Light', sans-serif;
}

.container {
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

.button-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    border-radius: 10%;
}

#timer {
    position: absolute;
    top: 15vh;
    left: 50%;
    transform: translateX(-50%);
    font-size: 3em ;
    font-weight: bold;
    color: white;
}

#restart {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    font-size: 16px;
    display: none;
}

#overlay {
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    pointer-events: none;
  }
  
  #button-left, #button-right {
    pointer-events: auto;
    padding: 20px;
  }

  #Fullscreen {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    font-size: 16px;
}


  #home {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 10px 20px;
    font-size: 16px;
}

#controls {
    position: absolute;
    bottom: 10vh;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
}

#controls button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}